* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background: yellow;
  display: grid;
  grid-template-rows: 10% 90%;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.searchBar {
  grid-row-start: 2;
  grid-row-end: 3;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-row-start: 2;
  grid-row-end: 3;
}

.day {
  height: 250px;
  width: 200px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  bottom: -60%;
  position: relative;
}